<%- model_class = Teacher -%>
<div class="page-header">
  <h1><%= @teacher.name %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Post Name</th>
      <th>Post Author</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>     
        <td><%= post.title %></td>
        <td><%= post.author.name %></td> 
       
         <td>  <%= link_to t('.show', :default => t("helpers.links.show")),
              post_path(post,:tid => @teacher), :class => 'btn btn-success btn-xs'  %> 

          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post,:tid => @teacher), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post,:tid => @teacher),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
                    </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new_post', :default => t("helpers.links.new_post")),
              new_post_path(:tid => @teacher), :class => 'btn btn-default'  %>
