
 
<%= form_tag user_sessions_path, :method => :post do %>
  <div class="control-group">
    <%= label_tag 'email',nil, :class => 'control-label' %><br />
    <%= text_field_tag 'email',nil, :class => 'form-control' %>
  </div>
   <div class="control-group">
    <%= label_tag 'password',nil, :class => 'control-label' %><br />
    <%= password_field_tag 'password',nil, :class => 'form-control' %>
  </div>
  <div>
    <br>
    <%= check_box_tag 'remember', :class => 'form-control' %>
    <%= label_tag "keep me logged in",nil,:class => 'control-label' %>
    
  </div>
<br>
  <div class="actions">
    <%= submit_tag "Login",:class => 'btn btn-primary' %>
     <%= link_to t('.signup', :default => t("helpers.links.signup")),
            :register, :class => 'btn btn-default' %>
  </div>
<% end %>





